.main-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5% 1%; 
  background-color: #ffffff;
  color: white;
  height: auto; 
  border: none; 
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
