/* searchBar.css */
.search-bar {
  width: 80%;
  height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-left: 0;
}

.search-bar-input {
  width: 60%;
  height: 80%;
  padding: 0.5% 1%;
  padding-left: 30px;
  border: 1px solid var(--input-border-color);
  border-radius: 30px 0 0 30px;
  margin-top: 1%;
  outline: none;
  font-size: larger;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

.search-bar-button {
  width: 8%;
  height: 80%;
  padding: 0.5%;
  border: 1px solid var(--input-border-color);
  border-left: none;
  border-radius: 0 30px 30px 0;
  background-color: var(--button-background-color);
  margin-top: 1%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-input:focus {
  border-color: blue;
  width: 80%;
}

.search-bar-button img {
  height: 50%;
  width: 50%;
}
