.upload-warpper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 120%;
  font-weight: bold;
}

.upload-warpper-dark {
  background-color: #000000;
  color: white;
}

.containerAVPUpload {
  width: 1000px;
  height: 900px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerAVPUpload-dark {
  border: 2px solid #444;
  background-color: #333;
  color: #fff;
}

.upload-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.upload-container.hidden {
  display: none;
}

.upload-box {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 50px;
  background-color: #fffdfd;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-box-dark {
  background-color: #444;
}

.upload-label {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-icon-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.upload-icon {
  width: 50px;
  height: 50px;
}

.upload-instructions {
  margin-bottom: 20px;
  font-size: 18px;
  color: #aaa;
}

.upload-instructions-dark {
  color: #ddd;
}

.upload-button {
  position: absolute;
  bottom: 30px; 
  right: 42%; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #b52a03;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #970303;
}

.video-preview {
  width: 95%;
  height: 60%;
  border-radius: 30px;
  margin-bottom: 10%;
  object-fit: cover;
}

.next-button {
  position: absolute;
  bottom: 30px; 
  right: 30px; 
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #b52a03;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #970303;
}

.back-button {
  position: absolute;
  bottom: 30px; 
  left: 30px; 
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #b52a03;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #970303;
}
