.divider {
    border-top: 1px solid #ccc; /* Thin line separator */
    margin: 10px 0; /* Spacing around the divider */
  }

  .categories-label {
    font-weight: bold;
    font-size: x-large;
    padding: 0;
    margin: 0px 0 10px 10px; 
    display: flex;
    align-items: center;
  }