/* Styles for the link wrapping the button */
.add-video-link {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Makes the link cursor a pointer */
}

/* Styles for the video button */
.add-video-button {
  visibility: visible;
  position: relative;
  padding: 5% 5%; /* Padding for the button */
  border: none; /* No border */
  background-color: var(--button-background-color); /* Background color from CSS variables */
  color: var(--button-text-color); /* Text color from CSS variables */
  border-radius: 40px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin-left: 10%; /* Margin on the left */
}

/* Styles for the button image */
.add-video-button-img {
  height: 5dvh; /* Dynamic viewport height */
  width: 3dvw; /* Dynamic viewport width */
  border-radius: 40px; /* Rounded corners */
  object-fit: cover; /* Ensures the image covers the area */
}

/* Styles for the tooltip text */
.add-video-button .tooltip-text {
  visibility: hidden; /* Hidden by default */
  background-color: #555; /* Dark background */
  color: #fff; /* White text */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Padding for the tooltip */
  position: absolute; /* Positioned absolutely */
  z-index: 1; /* Ensures it appears above other elements */
  top: 125%; /* Positions below the button */
  left: 50%; /* Centered horizontally */
  transform: translateX(-50%); /* Centers it exactly */
  opacity: 0; /* Initially transparent */
  transition: opacity 0.3s; /* Smooth transition for opacity */
}

/* Tooltip arrow styles */
.add-video-button .tooltip-text::after {
  content: '';
  position: absolute;
  bottom: 100%; /* Position above the tooltip */
  left: 50%; /* Centered horizontally */
  margin-left: -5px; /* Centers the arrow */
  border-width: 5px; /* Arrow size */
  border-style: solid;
  border-color: #555 transparent transparent transparent; /* Dark arrow pointing downwards */
}

/* Button hover state */
.add-video-button:hover {
  background-color: var(--button-background-color); /* Keeps the same background color */
}

/* Active state for the button */
.add-video-button.active {
  background-color: #333; /* Darker background */
  color: #fff; /* White text */
}

/* Tooltip visibility on hover */
.add-video-button:hover .tooltip-text {
  visibility: visible; /* Makes the tooltip visible */
  opacity: 1; /* Fully opaque */
}
