/* sidebar.css */
.sidebar {
  width: 420px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
  /* border-style: dashed; */
}

.logo-container {
  display: flex;
  justify-content: flex-start; 
  padding-left: 100px; /* Adjust this value to move the logo to the right */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
  border: none; /* Remove default borders */
  display: flex; /* Enable flex layout */
  align-items: center; /* Align items vertically */
  font-size: 20px; /* Set the font size of the text */
}

.sidebar ul li img {
  margin-left: 20px; /* Add some space between the icon and the text */
  margin-right: 20px; /* Add some space between the icon and the text */
  width: 30px; /* Set the width of the icon */
  height: 30px; /* Set the height of the icon */
}

.sidebar ul li:hover {
  border: 1px solid #ccc; /* Add border on hover */
  border-radius: 4px;
}

.sidebar ul li.no-icon {
  padding-left: 65px; /* Add padding to align text with items that have icons */
}

.divider {
  border-top: 1px solid #ccc; /* Thin line separator */
  margin: 10px 0; /* Spacing around the divider */
}

.categories-label {
  font-weight: bold;
  font-size: x-large;
  padding-left: 30px; /* Align with no-icon items */
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
