/* addNewVideo.css */
.add-video-button {
    position: relative;
    padding: 10px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-video-button img {
    height: 20px;
    width: 20px;
  }
  
  .add-video-button .tooltip-text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 125%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .add-video-button .tooltip-text::after {
    content: '';
    position: absolute;
    bottom: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .add-video-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  