.main-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px; 
  background-color: #ffffff;
  color: white;
  height: auto; 
  border: none; 
}

.flex-grow-1 {
  flex-grow: 1;
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
