.title{
    font-size: large;
    font-weight: bold;
    text-align: left;
    padding-top: 1%;
}
.views{
    font-size: medium;
    text-align: left;
}
.date{
    font-size: medium;
    text-align: left;
}
.btn{
    padding: 0%;
    border: none;
    margin-right: 1px;
}.download-button{
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 35px;
    background-color: rgb(226, 226, 226);
    float: right;
}.share-button{
    border: none;
    border-radius: 20px;
    width: 90px;
    height: 35px;
    background-color: rgb(226, 226, 226);
    float: right;
    margin-right: 1%;
}
.pencil-button{
    width: 20px;
    height: 20px;
    padding: 0%;
    border: none;
    margin-right: 0.5%;
    background-color: white;
}
.inputVideoTitle {
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
}
.video-info-section{
    background-color: var(--background-color);
    color: var(--text-color);
}
.alert{
    margin: 0%;
}
.icons{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 10px;
    background-color: white;
}
