.title{
    font-size: large;
    font-weight: bold;
    text-align: left;
    margin-top: 8px;
}
.views{
    font-size: medium;
    text-align: left;
}
.date{
    font-size: medium;
    text-align: left;
}
.btn{
    padding: 0%;
}
