.card{
    border: none;
    margin-bottom: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}
.card-title{
    font-size: 90%;
    text-align: left;
    font-weight: bold;
}
.card-text{
    font-size: small;
    text-align: left;
}
.views{
    font-size: small;
    text-align: left;
    color: gray;
}
.play-icon {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.videoCard-image {
    border-radius: 3%;
    width: 100%;
    height: 100%;
}