.card{
    max-width: 540px;
    border: none;
    margin-bottom: 5px;
}
.card-title{
    font-size: medium;
    text-align: left;
    font-weight: bold;
}
.card-text{
    font-size: medium;
    text-align: left;
}
.play-icon {
    position: absolute;
    /* bottom: 70%;
    left: 0; */
    /* right: 30%; */
    top: 65px;
    left: 100px;

  }
