.card{
    border: none;
    margin-bottom: 5px;
}
.card-title{
    font-size: 90%;
    text-align: left;
    font-weight: bold;
}
.card-text{
    font-size: small;
    text-align: left;
}
.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}