.headline {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
}
.addComment {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    outline: none;
}
.comment-container {
    position: relative;
}
.comment-add-button {
    width: 15%;
    height: 70%;
    background-color: white;
    border-radius: 75%;
    margin-top: 2%;
    margin-left: 10px;
    float: right;
}
.comments-section {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 1%;
}